body 
{
    text-align: center;
    margin: 0 auto;
    background-image: url(images/WhiteBrickWall.jpg);
}

.main_header 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gray;
    margin-top: 100px;
    padding: 50px;
    width: auto;
    font-size: 20px;
    height: auto;

    @media screen and (min-width: 800px)
    {
        width: 75%;
        margin: 15px auto;
        font-size: 50px;
    }
}

button
{
    background-color: darkgrey;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    @media screen and (min-width: 800px)
    {
        font-size: large;
    }
}

.menu_bar
{
    display: grid;
    height: 250px;
    @media screen and (min-width: 800px)
    {
        position: fixed;
        :hover
        {
            background-color: beige;
        }
        display: grid;
        height: 150px;
        grid-template-columns: 120px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

hr
{
    height: 15px;
}

.paragraph
{
    max-width: 90%;
    background-color: lightgray;
    font-size: 25px;
    text-align: center;
    margin: 50px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    @media screen and (min-width: 800px)
    {
        max-width: 75%;
    }
}



footer
{
    
    background-color: gray;
}

